container_commands:
  00_remove_old_symlink:
    command: "rm -rf /var/app/current/public/storage"
    cwd: /var/app/current
    leader_only: true

  01_permissions:
    command: "chmod -R 777 storage bootstrap/cache"
    cwd: /var/app/current
    leader_only: true

  02_storage_link:
    command: "php /var/app/current/artisan storage:link"
    cwd: /var/app/current
    leader_only: true



